################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASSIGNMENT3/.vs/ASSIGNMENT3/FileContentIndex
/ASSIGNMENT3/ASSIGNMENT3/x64/Debug/ASSIGNMENT3.tlog
/ASSIGNMENT3/RPS_Test/x64/Debug/RPS_Test.tlog
/ASSIGNMENT3/.vs/ASSIGNMENT3/v17
