################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASSIGNMENT3/.vs/ASSIGNMENT3/FileContentIndex
